<ul>
  <li><%= link_to 'home', dashboards_path  %></li>
  <li><%= link_to "Posts", posts_path %></li>
  <li><%= link_to "Sign Up", new_registration_path %></li>
  <li><%= link_to "Log In", new_logins_path %></li>
  <li><%= link_to "Sign Out", new_logins_path %></li>
</ul>